:root {

    --clr-dark-gray: hsl(0, 0%, 63%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-very-dark-gray: hsl(0, 0%, 27%);
}

* {
    font-family: 'League Spartan', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden-mobile {
    visibility: hidden;
}

.hidden-desktop {
    visibility: visible;
}

p {
    font-size: 12px;
}

img {
    width: 100%;
}

.logo {
    display: none;
}

#btn-open-nav {
    border: none;
    background: none;
    color: var(--clr-white);
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    z-index: 40;

}

#btn-close-nav {
    border: none;
    background: none;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    margin-right: 1.5rem;
}

nav {
    transform: translateY(-100%);
    color: var(--clr-black);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 55;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    min-height: 100vh;
    transition: transform 350ms, opacity 1s;
    transition-timing-function: cubic-bezier(.71, .02, .36, .97);
    opacity: .1;
}

nav .nav-content {
    opacity: 1;
}

button,
nav a {
    cursor: pointer;
}

nav a {
    padding: .2em;
    padding-block: .5em;
}

.nav-content {
    background-color: var(--clr-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 6rem;
    align-items: center;
    padding: 1rem;
}

nav.open {
    transform: translateY(0px);
    opacity: 1;
}

.slideshow {
    position: relative;
    min-height: min(700px, 100vh);
    width: 100%;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    right: 100%;
    transition: transform 1s;
    transform: translateX(200%);
    background-color: var(--clr-white);
    transition-timing-function: cubic-bezier(.71, .02, .36, .97);
}

.slide.active {
    transition-delay: 0;
    transform: translateX(100%);
}

.slide.viewed,
.slide:not(.active) {
    transition-delay: .1s;
    z-index: 1;
}

.slide__image {
    height: min(400px, 50vh);
}

.slide__image img {
    height: 100%;
    object-fit: cover;
}

.slide__description {
    padding: 2rem;
    padding-top: 3rem;

}

.slide__description>h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.slide__description p,
.about__text p {
    color: var(--clr-dark-gray);
    line-height: 1.5;
    letter-spacing: 1.1px;
    font-size: 500;
    margin-bottom: 2em;
}

.slide__cta {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-block: 1em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--clr-very-dark-gray);
    font-size: 1.1em;
    letter-spacing: .4em;
    line-height: 0;
    vertical-align: bottom;
}


.slide__cta:hover {
    color: var(--clr-dark-gray);
}

.slide__cta:hover>img {
    opacity: .4;
}


.slide__description a>img {
    width: 3em;
}

.slide.viewed {
    transform: translateX(0%);

}


.slideshow__actions {
    z-index: 50;
    display: flex;
    position: absolute;
    right: 0;
    top: calc(min(400px, 50vh) - 8%);
    height: 8%;
}

.slideshow__action {
    border: none;
    background-color: var(--clr-black);
    padding-inline: 1.5rem;
    padding-block: .8rem;
}

.slideshow__action:hover {
    background-color: var(--clr-very-dark-gray);
}

.about__text {

    padding-inline: 2em;
}

.about__text h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: .2em;
    margin-top: 2rem;
    margin-bottom: 1em;
}

@media (min-width:800px) {
    

    .hidden-desktop {
        visibility: hidden;
    }

    .hidden-mobile {
        visibility: visible;
    }

    .logo {
        display: inline-block;
        width: 4rem;
    }

    .slide {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    .slide__image {
        width: 60%;
    }

    .slide__description {
        width: 40%;
        margin-top: 0;
        padding: 5%
    }

    .slide__image,
    .slideshow {
        min-height: min(800px, 60vh);
    }

    .slideshow__actions {
        bottom: 0;
        left: 60%;
        right: auto;
        top: auto;
        min-width: 10%;
        align-items: stretch;
        min-height: 4rem;
        
    }

    .about {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    .about__text {
        width: 40vw;
        min-height: 40vh;
        display: grid;
        place-content: center;
    }

    .about__image {
        width: 30%;
    }

    .about__image img {
        object-fit: cover;
        min-height: 100%;
    }

    nav {
        transform: translateY(0);
        opacity: 1;
        min-height: min-content;
        background-color: transparent;
    }

    #btn-open-nav,
    #btn-close-nav {
        display: none;
    }

    .nav-content {
        background-color: transparent;
        margin-left: min(4rem, 5%);
        color: var(--clr-white);
        justify-content: flex-start;
        gap: 2rem;
        margin-top: 2rem;
    }

    .nav-content a {
        position: relative;
    }

    .nav-content a::after {
        content: '';
        background-color: var(--clr-white);
        min-width: 0%;
        min-height: 4px;
        position: absolute;
        bottom: -2px;
        left: 0;
        transition: min-width .5s;
    }

    .nav-content a:hover::after {
        min-width: 100%;
        border-radius: 2px;
    }


    .slideshow__action {
        padding-inline: 20%;
    }
}